*{
    background: #D8DFE8;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logoAlura {
    margin-left: 10px;
    padding-top: 10px;
    width: 5%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 380px;
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder {color: #0A3871; }  
    .textarea:focus {
        outline: none;
    }

.mensagem {
    color: #0A3871;
    background-color: white;
    border: none;
    border-radius: 24px;
    border-color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensagem:focus {
    outline: none;
    background-color: white;
}

.mensagem:not(:focus) {
    background-image: url(/2_9_CHALLENGE/Img/boneco.png);
    background-repeat: no-repeat;
}
.botoes{
    display:flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: #D8DFe8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
}

.informacao {
    display: flex;
    color: #495057;
    font-size: 18px;
    align-items: baseline;
    align-content: end;
    
    }

.interroga {
        width: 16px;
        height: 16px;
    }
.info {
        font-size: 18px;
    }

.info2{
    background: white;
    margin-top: 10px;
}
.rodape {
        background-color: #D8DFE8 ;
        color: #495057 ;
        padding: 24px;   
        text-align: left; 
        font-size: 16px;
        margin-left: 600px;
    }
p {
    font-size: 16px;
    align-self: end;
}